.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore net cdf file types 
*.nc

*.Rproj

smoke_dispersion/

# ignore rsconnect folder
rsconnect/
# ignore shapefile folder
tl_2016_us_county/

# ignore smoke polygon folder
smk_poly/

# ignore data folder
data/